<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.scoop.dao.TaskDAO">

    <insert id="insertTask" parameterType="Task">
        INSERT INTO SCOOP_MYTASK ( TNUM, WSID, TNAME,
                                  TCHARGE, TSESSION, TSTARTPERIOD, TENDPERIOD,
                                  TEXPLAIN, TCREATOR
                                    <if test='pnum != 0 or pnum != null'>
                                        , PNUM
                                    </if>
                                  )
        VALUES ( SCOOP_MYTASK_SEQ.nextval,
                    #{wsid}, #{tname},
                    #{tcharge}, #{tsession}, #{tstartperiod},
                    #{tendperiod}, #{texplain}, #{tcreator}
                    <if test='pnum != 0 or pnum != null'>
                        , #{pnum}
                    </if>
                )
    </insert>

    <select id="selectAll" parameterType="Task" resultType="Task">
        SELECT * FROM SCOOP_MYTASK
        WHERE WSID = #{wsid} AND TCHARGE = #{tcharge}
    </select>

</mapper>