<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

</style>
</head>
<body>
<div>
	<div style="display: flex;">
		<!-- 메뉴태그 홈버튼 -->


		

		
		<div>
			<h5 style="text-align: left;">홈</h5>
		</div>
		<!-- 검색태그 & 내정보 -->
		<div style="text-align: right;">
			<h5><input type="text"></h5>
		</div>
		<div>
			<input type="button" value="확인">	
		</div>
	</div>
	<!-- 상세정보 (가운데 상단) -->
	<div style="text-align: center;">
		<h5>x월 x일 x요일</h5>
		<h2>Scoop</h2>
	</div>
</div>
<div>
	<a href="bang1">1</a>
	<a href="bang2">2</a>
	<a href="bang3">3</a>
	<a href="bang4">4</a>
	<a href="bang5">5</a>
</div>
</body>
</html>
