<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Workspace Calender</title>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/sidebar.css}">
	<script th:src="@{/js/header.js}"></script>
</head>
<body>
	<header>
		<div class="navbar">
			<a href="#" class="menu-bars" id="show-menu">
				<img alt="sidebar" th:src="@{/img/menu.png}" width="30px">
			</a>
			<div class="navbar navbar-left">
				<table class="nav-table">
					<tr>
						<td colspan="3"><span th:text="${wsname}"></span>(wsname)</td>
					</tr>
					<tr>
						<td><a class="a-header" th:href="@{/workspaceHome}">개요</a></td>
						<td><a class="a-header" th:href="@{/workspaceMessage}">메시지</a></td>
						<td><a class="a-header" th:href="@{/workspaceCalender}">캘린더</a></td>
					</tr>
				</table>
			</div>
			<div class="navbar navbar-right">
				<input type="text" placeholder="검색" id="searchbox">
				
				<!-- clickable dropdown -->
				<div class="dropdown">
					<button onclick="addFunction()" class="dropbtn">+</button>
					<div id="dropdown" class="dropdown-content">
						<a th:href="@{/}">작업</a>
						<a th:href="@{/}">프로젝트</a>
						<a th:href="@{/}">메시지</a>
						<a th:href="@{/}">초대</a>
					</div>
				</div>
				
				<div class="dropdown">
					<button onclick="myFunction()" class="dropbtn"></button>
					<div id="myDropdown" class="dropdown-content">
						<a th:href="@{/}">(워크스페이스명)</a>
						<hr>
						<a th:href="@{/}">내 작업 공간 정보...</a>
						<a th:href="@{/}">더 보기</a>
						<hr>
						<a th:href="@{/}">내 설정...</a>
						<a th:href="@{/logout}">로그아웃</a>
					</div>
				</div>
			</div>
		</div>
		<br>
	</header>
	
	<nav id="nav-menu">
		<ul class="nav-menu-items">
			<div id="navbar-toggle">
				<a th:href="@{./}" class="menu-bars" id="hide-menu"> <!-- @{./} -->
					<img alt="sidebar" th:src="@{/img/white_menu.png}" width="30px"> <i class="nav-icon"></i>
				</a>
				<a href="#"><h1><i id="logo"></i>Task-it</h1></a>
			</div>
			<hr>
			<div class="nav-section">
				<li class="nav-text"><a th:href="@{/}"><i class="nav-icon"></i>메인</a></li>
				<li class="nav-text"><a th:href="@{/taskKanbanBoard}"><i class="nav-icon"></i>내 작업</a></li>
				<li class="nav-text"><a href="#"><i class="nav-icon"></i>프로젝트 목록</a></li>
				<li class="nav-text"><a href="#"><i class="nav-icon"></i>목표</a></li>
			</div>
			<hr>
			<div class="nav-section2">
				<li class="nav-text"><a th:href="@{/workspaceHome}"><i class="nav-icon"></i>(워크스페이스명) +</a></li>
				<li class="nav-text"><a href="#"><i class="nav-icon"></i>(사람들 표시)</a></li>
				<li class="nav-text"><a href="#"><i class="nav-icon"></i>(프로젝트명)</a></li>
				<li class="nav-text"><a href="#"><i class="nav-icon"></i>(프로젝트명)</a></li>
			</div>
			<hr>
			<div>
				<li class="nav-text nav-section3"><a href="#"><i class="nav-icon"></i>팀원 초대</a></li>
			</div>
		</ul>
	</nav>
	<script th:src="@{/js/sidebar.js}"></script>

</body>
</html>